#container{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    
}
button{
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    border:none;
    background-color:hsl(34, 57%, 70%);
    cursor:pointer;
}
button:hover{background-color: hsl(35, 40%, 60%);}
button:active{background-color: hsl(35, 40%, 90%);}


input{
    text-align: center;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    border:none;
}
input:active{
    border:none;
    background-color:ghostwhite;
    color:dimgrey;
}

#img img{
    width: 180px;
    margin:8px;
}

#result{
    margin:35px;
    color:tomato;
    margin:black;
}